<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'tinymce/css/prism.css' %}">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <title>Inicio</title>
</head>
    <body>

        <!-- NAVEGACION -->
        
          {% include 'main/includes/navbar.html' %}

          <!-- TARGETAS -->
          <div class="container">
            <br>
            {% block content %}

            {% endblock %}


          </div>
         

        


        
    </body>

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
     
    
    {% include 'main/includes/mensajes.html' %}

    
    
    <script src="{% static 'tinymce/js/prism.js' %}"></script>

</html>