
{% if messages %}
    
{% for message in messages %}

<!-- suceess  exito -->
  {% if message.tags == 'success' %}
  <script>
    M.toast({html: '{{ message }}',
    classes: 'green rounded',
    displayLength: 2000,
    });
  </script>
  {% endif %}

  <!-- info -->
  {% if message.tags == 'info' %}
  <script>
    M.toast({html: '{{ message }}',
    classes: 'blue rounded',
    displayLength: 2000,
    });
  </script>
  {% endif %}

  <!-- warning -->
  {% if message.tags == 'warning' %}
  <script>
    M.toast({html: '{{ message }}',
    classes: 'orange rounded',
    displayLength: 2000,
    });
  </script>
  {% endif %}

  <!-- error -->
  {% if message.tags == 'error' %}
  <script>
    M.toast({html: '{{ message }}',
    classes: 'red rounded',
    displayLength: 2000,
    });
  </script>
  {% endif %}

{% endfor %}

{% endif %}
