
<nav>
    <div class="nav-wrapper deep-purple accent-3">
      <a href="#" class="brand-logo">Cursos</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/">Inicio</a></li>
        {% if user.is_authenticated  %}
          <li><a href="#">{{ user.username }}</a></li>
          <li><a href="/logout">salir</a></li>
        {% else %}
          <li><a href="/registro">Registro</a></li>
          <li><a href="/login">Entrar</a></li>
        {% endif %}
      </ul>
    </div>
  </nav>



